body {
    text-align: center;
}

header {
    display: flex;
}

.IMGSJ {
    width: 150px;
    height: 120px;
    border-radius: 10px;
    margin-left: 2%;
    margin-top: 1%;
    margin-block-end: 1%;
}

.Titulo {
    font-family: cursive;
    font-style: normal;
    font-weight: 400px;
    font-size: 25px;
    margin-block-end: 2%;
    margin-inline-end: 2%;
}

.BotonS {
    display: flex;
    align-items: center;
    margin-inline-start: 1%;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #503607;
    background-color: #4aff40;
    padding: 0.8%;
    color: #503607;
    font-size: 25px;
    padding: 0.8%;
    border-radius: 51%;
    margin-block-end: 4%;
    margin-block-start: 2%;
}

.Caja {
    background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20210706/pngtree-abstract-green-color-background-hd-free-dowunlode-pngtree-image_736896.jpg);
    text-decoration: none;
    background-size: cover;
    background-repeat: no-repeat;
    padding-right: 80px;
    padding-top: 10px;
    color: rgb(255, 255, 255);
}

.table {
    color: rgb(0, 0, 0);
    margin-left: 5%;
    margin-top: 2%;
    height: 30px;
}

.text {
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.CuaTabl {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
}

.contenedor_Principal {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}