
/*Diseño para el div del boton de registrar*/
.Registrar {
    margin-left: 1150px;
    height: 42px;
    width: 165px;
    padding: 2px;
}



/* Diseño para la tabla de productos */


.table{
    box-shadow: 0 0 6px 0 rgba(23, 255, 2, 0.8);
    border-radius: 5px;
    display: flex;
    margin-top: 2em;
    margin-left: 20em;
    margin-right: 20em;
}

/*Modifica todos los elementos que contengan un id="btn"*/
#btn {
 font-size: 15px;
 left: 10%;
 background-attachment: fixed;
 color: #373d35;
 box-shadow: 0 0 6px 0 rgba(23, 255, 2, 0.8);
 padding: 9px;
 border-radius: 7px;
 border: none;
 cursor: pointer;
 background-color: #fff;
}

.text{
    padding: 25px;
}


